@model IEnumerable<mercadito.Models.Venta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechaVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequirioFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.ClienteUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatosTarjeta.DatosTarjetaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionCliente.Calle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequirioFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.ClienteUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatosTarjeta.DatosTarjetaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DireccionCliente.Calle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FolioVenta }) |
            @Html.ActionLink("Details", "Details", new { id=item.FolioVenta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FolioVenta })
        </td>
    </tr>
}

</table>
