@model MercaditoRecargado.Models.DireccionCliente

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Agregar Dirección</h3>
                    <section>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.DireccionClienteID)
                            <div class="row">

                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        @Html.EditorFor(model => model.Calle, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Calle, "", new { @class = "text-danger" })
                                        <label class="form-label" for="lastName">Calle</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        @Html.EditorFor(model => model.NumeroExterior, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NumeroExterior, "", new { @class = "text-danger" })
                                        <label class="form-label" for="lastName">Número Exterior</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        @Html.EditorFor(model => model.NumeroInterior, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NumeroInterior, "", new { @class = "text-danger" })
                                        <label class="form-label" for="lastName">Número Interior</label>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        @Html.EditorFor(model => model.Colonia, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Colonia, "", new { @class = "text-danger" })
                                        <label class="form-label" for="firstName">Colonia</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        @Html.EditorFor(model => model.CodigoPostal, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CodigoPostal, "", new { @class = "text-danger" })
                                        <label class="form-label" for="firstName">Código Postal</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        @Html.EditorFor(model => model.Municipio, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Municipio, "", new { @class = "text-danger" })
                                        <label class="form-label" for="firstName">Municipio</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                                        <label class="form-label" for="firstName">Estado</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        @Html.EditorFor(model => model.Referencia, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Referencia, "", new { @class = "text-danger" })
                                        <label class="form-label" for="firstName">Referencia</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="mt-4 pt-2">
                                        @Html.HiddenFor(model => model.PersonaID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PersonaID, "", new { @class = "text-danger" })
                                        <input class="btn btn-default btn-primary btn-lg" type="submit" value="Guardar cambios" />
                                    </div>

                                </div>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Regresar a Mis Direcciones", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
