@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword")
                : Html.ActionLink("Pick a password", "SetPassword"))
        </p>
        <p>
            Phone Number: @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Change", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Remove", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Add", "AddPhoneNumber")
            }
            ]
        </p>

        <p>
            Tarjetas:
            @Html.ActionLink("Ver mis Tarjetas", "IndexCliente", "DatosTarjetas")
        </p>
        <p>
            Direcciones:
            @Html.ActionLink("Ver mis Direcciones", "IndexCliente", "DireccionClientes")
        </p>

    </div>
</div>
