@model MercaditoRecargado.Models.Venta

@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div>
            <h2>Detalle del pedido: @Html.DisplayFor(model => model.VentaID) | Estado: @Html.DisplayFor(model => model.Estatus)</h2>
            <hr />
            <table class="table">



                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.FechaEntrega)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.FechaEntrega) a las @Html.DisplayFor(model => model.HoraEntrega)
                    </td>
                </tr>




                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Empleado.Persona.Nombre) Empleado
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Empleado.Persona.Nombre) @Html.DisplayFor(model => model.Empleado.Persona.ApPaterno)  @Html.DisplayFor(model => model.Empleado.Persona.ApMaterno)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DireccionCliente.Calle)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DireccionCliente.Calle) @Html.DisplayFor(model => model.DireccionCliente.NumeroExterior),  @Html.DisplayFor(model => model.DireccionCliente.NumeroInterior), Colonia @Html.DisplayFor(model => model.DireccionCliente.Colonia), CP @Html.DisplayFor(model => model.DireccionCliente.CodigoPostal)
                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Total)
                    </td>
                    <td>
                        $@Html.DisplayFor(model => model.Total)
                    </td>
                </tr>



            </table>
        




            <br>

            <h2>Productos</h2>

            <table class="table">
                <tr>


                    <th>
                        Nombre
                    </th>

                    <th>
                        Precio
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Total
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model.VentaDetalles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.nombre)
                        </td>

                        <td>
                            $@Html.DisplayFor(modelItem => item.Precio)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad) Kg
                        </td>

                        <td>
                            $@(item.Precio * item.Cantidad) 
                        </td>
                    </tr>
                }

            </table>


          
        </div>
    </div>
}
<p>

    @Html.ActionLink("Regresar", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
