@model MercaditoRecargado.Models.Cliente

@{ ViewBag.Title = "Delete"; }

<h2>Eliminar</h2>

<h3>¿Estas seguro de eliminar este cliente?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.ApPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.ApPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.ApPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.ApPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.FechaNac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.FechaNac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Genero)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

       

    </dl>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-default" /> |
                    @Html.ActionLink("Regresar", "Index")
                </div>}
</div>
