@model IEnumerable<MercaditoRecargado.Models.Cliente>

@{ ViewBag.Title = "Index"; }

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Agregar nuevo cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.ApPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.ApMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.FechaNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.CP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </th>




        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Persona.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.ApPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.ApMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.FechaNac)
            </td>

            <td>

                @Html.DisplayFor(modelItem => item.Persona.Genero)

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Persona.CP)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.fechaRegistro)
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ClienteID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ClienteID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ClienteID })
            </td>
        </tr>
    }

</table>