@model IEnumerable<MercaditoRecargado.Models.Factura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.clienteFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ventaFactura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.clienteFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ventaFactura)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FacturaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FacturaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FacturaID })
        </td>
    </tr>
}

</table>
