@model MercaditoRecargado.Models.Venta

@{
    ViewBag.Title = "Details";
}



<div>
    <h2>Detalle de la venta: @Html.DisplayFor(model => model.VentaID) </h2>
    <hr />
    <table class="table">



        <tr>
            <td>
                @Html.DisplayNameFor(model => model.fechaVenta)
            </td>
            <td>
                @Html.DisplayFor(model => model.fechaVenta)
            </td>
        </tr>


        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Total)
            </td>
            <td>
                @Html.DisplayFor(model => model.Total)
            </td>
        </tr>

        <tr>
            <td>
                IVA
            </td>
            <td>
                @(Model.Total * (decimal)0.16)
            </td>
        </tr>


        <tr>
            <td>
                Total
            </td>
            <td>
                @(Model.Total + (Model.Total * (decimal)0.16))
            </td>
        </tr>




    </table>

        <h2>Detalles</h2>

        <table class="table">
            <tr>


                <th>
                    Nombre
                </th>

                <th>
                    Precio
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Total
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model.VentaDetalles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.nombre)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>

                    <td>
                        @(item.Precio * item.Cantidad)
                    </td>
                </tr>
            }

        </table>
</div>
<p>
  
    @Html.ActionLink("Back to List", "Index")
</p>
