@model IEnumerable<MercaditoRecargado.Models.Venta>

@{
    ViewBag.Title = "PedidosEmpleado";
}

<h2>Pedidos</h2>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mis Tarjetas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.VentaID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.fechaVenta)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaEntrega)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Total)
                        </th>


                        <th>
                            @Html.DisplayNameFor(model => model.Estatus)
                        </th>

                        <th></th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.VentaID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fechaVenta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaEntrega) a las  @Html.DisplayFor(modelItem => item.HoraEntrega)
                            </td>
                            <td>
                                $ @Html.DisplayFor(modelItem => item.Total)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Estatus)
                            </td>


                            <td>

                                @Html.ActionLink("Detalles", "Edit", new { id = item.VentaID }) |

                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>
