@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <a class="nav navbar-nav navbar-right">
            <div class="nav-item">
                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </div>
            <div class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()"><small>Cerrar Sesión</small></a></div>
        </a>

    }
}
else
{
    <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2">
        <div class="navbar-tool-icon-box"><i class="bi bi-person-circle"></i></div>
        <div class="navbar-tool-text ms-n3"><small>@Html.ActionLink("Hola, Inicia Sesión", "Login","Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</small>Mi Cuenta</div>
    </a>
    @*  <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li class="nav-item">@Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@
}
