@model IEnumerable<mercadito.Models.VentaDetalle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venta.FolioVenta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venta.FolioVenta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VentaDetalleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VentaDetalleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VentaDetalleID })
        </td>
    </tr>
}

</table>
