@model MercaditoRecargado.Models.Empleado

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Empleado</h2>


<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
